.Home {
    font-family: sans-serif;
    text-align: center;
  }
  
  img {
    border-radius: .25in;
  }
  
  body {
    background-image: url("https://images.pexels.com/photos/1029624/pexels-photo-1029624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
  }
  
  h1 {
    color: white
  }
  
  h2 {
    color: white
  }
  
  .zoom {
    background-color: 000308d2;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    width: 2.5in;
    height: 4in;
    border-radius: .25in;
    margin: 10px;
    display: inline-block;
    padding: 10px;
    display: inline-table;
    transition: transform .4s;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.2); 
  }