@media screen and (max-width: 1000px) {
    h1{
        width: 50vh;
    }

    .modal-popup{
        margin: 70px auto;
      }

    .modal-popup .close {
        top: 10px;
        right: 15px;
        font-size: 50px;
      }
}

@media screen and (max-width: 700px){
    .box{
      width: 50%;
    }
    .saved-popup{
      width: 50%;
    }
  }
  

@media screen and (max-width: 450px) {

    h4 {
        width: 90%;
    }

    img {
        width: 10rem;
    }

    .header {
        min-width: 90%;
        font-size: 2rem;
        padding: 1rem;
    }

    .navbar a {
        font-size: 18px;
    }

    .thumbnail {
        width: 5rem;
        height: 4rem;
        border-radius: .5rem;
    }

    
}